/**
 * Author: Wesley A. Alves
 * Email: wesley.alves.jhenp@gmail.com 
 */
body {
  font-family: 'Roboto Condensed', sans-serif;
}

.bg-transparent {
  background-color: transparent;
}

.badge {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
.badge:hover {
  cursor: pointer
}
h1.title {
  font-family: 'Roboto Condensed', sans-serif;
  color: #161616;
  font-size: 32px;
  text-transform: uppercase;
}

h2.subtitle {
  color: #606060;
  font-size: 18px;
}

.logo-size {
  width: 120px;
}
.card-staic-size {
  margin: 20px 0px;
  min-height: 400px;
}

.full-rounded {
  border-radius: 30px;
}

.anchor {
  font-family: 'Roboto Condensed', sans-serif;
  color: #EC255A;
}
.anchor:hover {
  color: #292C6D;
}

.btn-gradient {
  background-image: linear-gradient(to right, #EC255A 0%, #292C6D 100%);
  border-radius: 50px;
  padding: 10px 35px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.5);
  color: #FFFFFF;
}
.btn-gradient:hover {
  background-image: linear-gradient(to left, #EC255A 0%, #292C6D 100%);
  color: #FFFFFF;
}
.btn-pink {
  background-color: #EC255A;
  border-radius: 50px;
  padding: 10px 35px;
  color: #FFFFFF;
}
.btn-default {
  background-color: #D9D9E9;
  border-radius: 50px;
  padding: 10px 35px;
  color: #606060;
}
.default-input {
  background-color: #D9D9E9;
  border-radius: 50px;
  padding: 12px 15px;
  padding-left: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}
.divider {
  border-right: 1px solid #999;
  box-sizing: border-box;
}
.bg-pink {
  background-color: #EC255A;
}
.bg-blue {
  background-color: #161853;
}

.text-pink {
  color: #EC255A;
}

.copyright {
  text-align: right;
  color: #FFFFFF;
}
.copyright p {
  font-size: 12px;
}
.input-icon {
  position: relative;
}
.input-icon span, .input-icon i {
  position: absolute;
  z-index: 900;
  color: #666;
  top: 0px;
  left: 15px;
}
.x28 {
  font-size: 28px;
}
